.nav-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 15vh;
    align-items: center;
    background-color: grey;
}

.nav-to {
    font-size: 1em;
    margin-right: 10vw;
    width: 80px;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    height: 30px;
    border-radius: 0;
    border: 1.5px solid white;
    cursor: pointer;
}